.detail-container {
  min-height: calc(100vh - 150px);

  .detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    padding-block: 3rem;

    .detail-title {
      text-align: center;
      @media @md {
        font-size: 24px;
      }

      @media @sm {
        font-size: 20px;
      }

      @media @xsm {
        font-size: 16px;
      }

      @media @lg {
        font-size: 32px;
      }
    }
  }

  .detail-content {
    .image-container {
      max-width: 100%;
      position: relative;
      width: max-content;
      margin: 0 auto;

      .movie-poster {
        display: flex;
        justify-content: center;

        & > div > svg {
          max-width: 100%;
        }
      }

      .card-fav {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        transition: transform 0.3s;

        &:hover {
          cursor: pointer;
          transform: scale(1.2);
          transition: transform 0.3s;
        }
      }
    }

    .summary {
      font-weight: 500;

      @media @md {
        font-size: 24px;
      }

      @media @sm {
        font-size: 20px;
      }

      @media @xsm {
        font-size: 16px;
      }

      @media @lg {
        font-size: 32px;
      }
    }

    .detail-card-info {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
